vendor
icons-reference
img
js
fonts
data
.idea
css/*
!css/style.default.css
student/css/*
!student/css/style.default.css
student/fonts
student/icons-reference
student/img
student/vendor
student/js
student/data
admin/css/*
!admin/css/style.default.css
admin/fonts
admin/icons-reference
admin/img
admin/vendor
admin/js
admin/data